.footer {
  max-width: 102rem;
  margin: 0 auto;
  height: 10rem;
  position: relative;
}

.footer-nav {
  position: absolute;
  bottom: 5rem;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.copylight {
  position: absolute;
  bottom: 5rem;
  right: 0;
  font-size: 1.8rem;
}