.footer {
  max-width: 102rem;
  margin: 0 auto;
  height: 10rem;
  position: relative;
  @media (max-width: 768px) {
    height: 15rem;
  }
}

.footer-nav {
  position: absolute;
  bottom: 5rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  .nav-item:first-child {
    padding-left: 2rem;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    .nav-item:first-child {
      padding-left: 0;
    }
  }
}

.copylight {
  position: absolute;
  bottom: 5rem;
  right: 0;
  font-size: 1.8rem;
  @media (max-width: 768px) {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}


.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 4rem;

  display: none;
  width: 6rem;
  height: 6rem;

  background-color: $light-blue;
  color: #666;
  opacity: .6;
  line-height: 6rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  @media (max-width: 768px) {
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
  }
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}