.header {
  max-width: 102rem;
  margin: 0 auto;
  height: 20rem;
  position: relative;
}

.logo {
  position: absolute;
  top: 3rem;
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  text-align: center;
}

.nav {
  position: absolute;
  bottom: 3rem;
  right: 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    float: left;
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 0;
  }
}

.nav-item {
  padding-left: 5rem;
  @media (max-width: 768px) {
    padding: 2rem 3rem;
    border: 1px solid #999;
    width: calc(100% / 3);
  }
}

.nav-link {
  color: #666;
}